{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/adoption.css' %}" />
    <title>Questionnaire</title>
  </head>
  <body class="pet-pp-create">
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ wizard.management_form }}
        <!-- Check if wizard.form has forms -->
        {% if wizard.form.forms %} {{ wizard.form.management_form }}
        <!-- Loop through the forms in the wizard -->
        {% for form in wizard.form.forms %}

        <!-- Loop through the fields in the form -->
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}" class="new-class">
            <button type="button" class="option-button">{{ field.label }}</button>
          </label>
          {{ field.errors }} {{ field.help_text }} {{ field }}
        </div>
        <!-- End of field loop -->
        {% endfor %}
        <!-- End of form loop -->
        {% endfor %}
        <!-- If there are no forms in the wizard -->
        {% else %} {{ wizard.form }} {% endif %}
        <input type="submit" value=">" id="pet-pp" />
      </form>
      <p class="pet-pp-create">
        {{ wizard.steps.step1 }} / {{ wizard.steps.count }}
      </p>
    </div>
  </body>
</html>


<script>
  window.onload = function () {
    const labels = document.querySelectorAll("label");
    for (let label of labels) {
      let input = document.getElementById(label.getAttribute("for"));
      if (input && input.type === "radio") {
        label.style.cursor = "pointer";
        label.addEventListener("click", function () {
          for (let otherLabel of labels) {
            let otherInput = document.getElementById(
              otherLabel.getAttribute("for")
            );
            if (otherInput && otherInput.type === "radio") {
              otherLabel.style.backgroundColor = "";
              otherInput.checked = false;
            }
          }
          label.style.backgroundColor = "#fab005";
          input.checked = true;
        });
      }
    }
  };
</script>
