<!-- for the creation of pet's for adoption -->
<!-- if object (edit) else (add) -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Create Pet</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %} {{ wizard.management_form }} {% if wizard.form.forms %}
      {{ wizard.form.management_form }} {% for form in wizard.form.forms %} {{
      form }} {% endfor %} {% else %} {{ wizard.form }} {% endif %}
      <input type="submit" value=">" class="pet-pp-next" />
    </form>
    <p class="pet-pp-create">
      {{ wizard.steps.step1 }} / {{ wizard.steps.count }}
    </p>
  </body>
</html>
