{% extends 'base.html' %}

{% block content %}
<!-- pet profile page, same layout as the like screen with more info and message option -->
    <h1> {{ PetTable.name }} </h1>
    <div class="img-container" id="img1-container"></div>
    <div class="prompt-container" id="prompt1-container">{{ PetTable.prompt1 }}</div>
    <div class="pet-info-container">
        <ul>
            <li>{{ PetTable.gender }}</li>
            <li>{{ PetTable.age }}</li>
            <li>{{ PetTable.breed }}</li>
            <li>{{ PetTable.size }}</li>
            <li>{{ PetTable.weight }}</li>
            <li>{{ PetTable.activity_level }}</li>
            <li>{{ PetTable.sociability }}</li>
            <li>{{ PetTable.energy_level }}</li>
            <li>{{ PetTable.monthlycost }}</li>
            <li>{{ PetTable.healthStatus }}</li>
            <li>{{ PetTable.vaccinationInformation }}</li>
        </ul>
    </div>
    <div class="img-container" id="img2container"></div>
    <div class="prompt-container" id="prompt2container">{{ PetTable.prompt2 }}</div>
    <div class="img-container" id="img3container"></div>
    <div class="prompt-container" id="prompt3container">{{ PetTable.prompt3 }}</div>
    <!-- message btn replaces the like btn from the home page -->
    <div class="message-btn"></div>
    <div class="no-like-btn">
        <a href="{% url 'unmatch' %}"></a>
    </div>

{% endblock %}