{% extends 'base.html' %}

{% block content %}
    <div class="content">

    
        <h1>Welcome to Adoptly, the pawfect place to find your furry soulmate!</h1>
        <p> Fill your life with wagging tails and endless cuddles as you open your heart to the pawsibilities that await you.</p>


         <p>  Find your fur-ever soulmate and create a forever home filled with love, joy, and unforgettable memories. Join us in celebrating the magic of adoption at Adoptly.</p> 
    </div>
    <a href="{% url 'settings' %}" class="btn btn-secondary" style="background-color: orange;">Back</a>
    <footer>All Rights Reserved, &copy; 2023 Adoptly</footer>



     

{% endblock %}