{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'settings' %}" class="btn btn-secondary" style="background-color: orange;">Back</a>
    <h3 class="helptitle">Help Center</h3>
    <h5 class="helpcenter">   
        <p>To adopt a pet from our organization, you must meet the following requirements:</p>
        
        <p>You must be at least 18 years old.</p>
        <p>Provide a valid identification document.</p>
        <p>Show proof of residence.</p>
        <p>Demonstrate the ability to provide a safe and loving home for the pet.</p>
    </h5>
{% endblock %}
