{% extends 'base.html' %}

{% block content %}
<!-- for match in pawfect matches -->

    {% if UserDetails.adopter == True %}
        <div id="pet-container">
            {% for pet in pets %}
                <h1> {{ pet.name }} </h1>
                <div class="img-container" id="img1-container"></div>
                <div class="prompt-container" id="prompt1-container">{{ pet.prompt1 }}</div>
                <!-- Do we need this much info on the matching/home page when we have all this in
                the pet details page? - KB -->
                <div class="pet-info-container">
                    <ul>
                        <li>{{ pet.gender }}</li>
                        <li>{{ pet.age }}</li>
                        <li>{{ pet.breed }}</li>
                        <li>{{ pet.size }}</li>
                        <li>{{ pet.activity_level }}</li>
                        <li>{{ pet.vaccinationInformation }}</li>
                        <li>{{ pet.healthStatus }}</li>
                    </ul>
                </div>
                <div class="img-container" id="img2-container"></div>
                <div class="prompt-container" id="prompt2container">{{ pet.prompt2 }}</div>
                <div class="img-container" id="img3-container"></div>
                <div class="prompt-container" id="prompt3container">{{ pet.prompt3 }}</div>
                <!-- like and dislike buttons sit here - KB -->
                <!-- should float as the user scrolls - KB -->
                <div class="like-btn">
                    <a href="{% url 'match' %}"></a>
                </div>
                <div class="no-like-btn">
                    <a href="{% url 'unmatch' %}"></a>
                </div>
            {% endfor %}
        </div>
        <script>
            // function to show the pet at the given index
            function showPet(index){
                for (let i = 0; i < pets.length; i++){
                    if (i === index) {
                        pets[i].style.display = 'block';
                    } else {
                        pets[i].style.display = 'none';
                    }
                }
            }
            // handle like and dislike actions
            document.addEventListener('DOMContentLoaded', function(){
                let pets = document.getElementById('pet-container')
                let index = 0
            })
            showPet(index)

            // for (let i = 0; i < likeBtn.length; i++) {
            //     likeBtns[i].addEventListener('click', function(){
            //         handleAction(true);
            //     });
            // }
            // for (let i = 0; i < dislikeBtn.length; i++) {
            //     likeBtns[i].addEventListener('click', function(){
            //         handleAction(false);
            //     });
            // }

        </script>
    <!-- If not a pet adopter you won't see the list of potential matches - KB -->
    {% elif UserDetails.adopter == False %}
        <h1>When we have someone interested in your pet we will let you know </h1>
    {% endif %}


{% endblock %}