{% extends 'base.html' %}

{% block content %}


<a href="{% url 'settings' %}" class="btn btn-secondary" style="background-color: orange;">Back</a>
    <h3 class="guidance">Adoption Guidance</h3>
 

    <h6 class="adoptitle">Adoption is a meaningful and fulfilling experience that allows you to welcome a new furry companion into your life while providing a loving home for an animal in need. </h6>
       
    <div class="advice">
    
    <li>Begin by researching different pet breeds or species that suit your lifestyle, considering factors like size, activity level, and compatibility. </li>
    <li> Learn about their backgrounds and care requirements. </li>
    <li>  Keep in mind that pet ownership is a long-term commitment involving daily care, attention, and financial responsibilities. </li>
    <li>  Prepare your home by ensuring its safety and gathering essential supplies. </li>
    <li>  After adoption, give your new pet time to adjust and provide a consistent routine and training as needed.</li>
    <li>  Schedule veterinary visits and prioritize their health.</li>
     <li>Research suitable pet breeds or species for your lifestyle.</li>
     <li>Provide a post-adoption adjustment period and necessary training.</li>
    <li>Enjoy the love, companionship, and joy of pet ownership.</li>
    </div>
   
{% endblock %}
