{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'settings' %}" class="btn btn-secondary" style="background-color: orange;">Back</a>

    <p class="paragraph">
        The Tale of Charlie: Emily had always wanted a furry companion to accompany her on outdoor adventures. She came across Charlie, a lively and adventurous pup, on Adoptly. It was an instant connection. From hiking in the mountains to splashing in the river, Charlie became Emily's faithful adventure buddy. They share endless laughs, wagging tails, and a bond that's truly paw-some. 
    </p>

    <p class="paragraph">
        Love at First Sniff: Sara found her perfect dog, Milo, through Adoptly. From the moment they met, it was clear they were meant to be. Milo's wagging tail and playful nature instantly stole Emily's heart. 
    </p>

    <p class="paragraph">
        A Pawfect Match: Jason had been searching for a furry friend and found Molly on Adoptly. . Molly's gentle demeanor and loving personality melted Jason's heart. They quickly became best buddies, sharing countless cuddles and making each other's lives brighter every day.
    </p>
{% endblock %}