body.gateway {
    background: url("/static/images/gateway-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


button.signup {
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vmin;
    border: none;
    border-radius: 3vmin;
    background-color: #fab005;
    margin-top: 170vmin;
    font-family: 'Open Sans', sans-serif;
    width: 60%;
}

a.login {
    color: white;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
    font-size: 4vmin;
    font-family: 'Open Sans', sans-serif;
}

a.signup {
    color: white;
    text-decoration: none;
    font-size: 4vmin;
    font-family: 'Open Sans', sans-serif;
}

/* NEXT button */
input#pet-pp-next {    
    margin-top: 1rem;
    padding: 3vmin 5vmin;
    background-color: #fab005;
    color: white;
    border: none;
    border-radius: 10vmin;
    cursor: pointer;
    font-size: 8vmin;
    position: fixed;
    top: 165vmin;
    left: 70vmin;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    font-family: 'Open Sans', sans-serif;

}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container input[type="submit"] {
    margin-top: 1rem;
    padding: 3vmin 5vmin;
    background-color: #fab005;
    color: white;
    border: none;
    border-radius: 10vmin;
    cursor: pointer;
    font-size: 8vmin;
    position: relative;
    top: 70vmin;
    left: 25vmin;
}

.container input[type="submit"]:hover {
    background-color: #fab005;
}

.pet-pp-create {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1rem;
}

/* shows which question you are on ie 1/11 */
p.pet-pp-create {
    font-weight: 100;
    font-size: 2vmin;
    position: fixed;
    margin-top: 65vmin;
    color: #aaa;
    margin-left: 20vmin;
}

/* pet name question input field*/
input#pet_name.name_q, 
input#id_1-age, 
input#cost_q.name_q 
{
    border: none;
    cursor: text;
    background-color: #f9f9f9;
    font-size: 8vmin;
    width: 80vmin;
    margin-bottom: 5vmin;
}

.pet-create-radio li {
    list-style-type: none;
    margin-bottom: 30vmin;  /* Removes the bullet points */
}

.pet-create-radio input[type="radio"] {
    display: none;  /* Hides the radio buttons */
}

.form-group ul {
    list-style-type: none;
    padding-left: 0;
}

.form-group ul li {
    display: block;
    margin-bottom: 0.5rem;
}
/* Title questions on pet form */
label[for=pet_name], 
label[for=id_1-age] {
    font-family: 'Open Sans', sans-serif;
    font-size: 10vmin;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 80vmin;
    margin-top: 20vmin;
    margin-bottom:20vmin;
}

label[for=activity],
form>label
{
    font-family: 'Open Sans', sans-serif;
    font-size: 10vmin;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 80vmin;
    margin-top: 20vmin;
}

label[for=cost_q] {
    font-family: 'Open Sans', sans-serif;
    font-size: 8vmin;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 80vmin;
    margin-top: 30vmin;
    margin-bottom: 15vmin;
}

/* multiple choice answers on activity form */
div#activity.name_q, 
div#pet_name.name_q,
div#sociability.name_q, 
div#size.name_q,
div#id_5-healthStatus.pet-create-radio,
div#energy_level.name_q,
div#vaccinationInformation.name_q
 {
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    background: white;
    cursor: pointer;
    padding: 15vmin;
    border-radius: 5vmin;
}


label[for=pet_name_0], 
label[for=pet_name_1], 
label[for=pet_name_2], 
label[for=activity_1], 
label[for=activity_0],
label[for=activity_2],
label[for=sociability_0],
label[for=sociability_1],
label[for=sociability_2],
label[for=size_0],
label[for=size_1],
label[for=size_2],
label[for=id_5-healthStatus_0],
label[for=id_5-healthStatus_1],
label[for=id_5-healthStatus_2],
label[for=energy_level_0],
label[for=energy_level_1],
label[for=energy_level_2],
label[for=vaccinationInformation_0],
label[for=vaccinationInformation_1],
label[for=vaccinationInformation_2],
label[for=pet_name_2], 
label[for=pet_name_1], 
label[for=pet_name_0]
{
    color: black;
    border: 0.5vmin solid #ddd;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    padding-left: 15vmin;
    padding-right: 15vmin;
    border-radius: 5vmin;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    cursor: pointer;
    display: inline-block;
    width: 35vmin;
}





/* Hide the radio button */
input#pet_name_0.name_q, 
input#pet_name_1.name_q, 
input#pet_name_2.name_q, 
input#activity_0.name_q, 
input#activity_1.name_q, 
input#activity_2.name_q, 
input#sociability_0.name_q, 
input#sociability_1.name_q, 
input#sociability_2.name_q,
input#size_0.name_q,
input#size_1.name_q,
input#size_2.name_q, 
input#healthStatus_0.name_q, 
input#healthStatus_1.name_q, 
input#healthStatus_2.name_q,
input#energy_level_0.name_q,
input#energy_level_1.name_q,
input#energy_level_2.name_q,
input#vaccinationInformation_0.name_q,
input#vaccinationInformation_1.name_q,
input#vaccinationInformation_2.name_q
{ 
    display: none;
}

input#pet_name_0.name_q:checked, input#pet_name_1.name_q:checked, input#pet_name_2.name_q:checked {
    color: red;
} 

/* Style the label to look like a button */
.your-form .pet-create-radio label {
    display: flex;
    padding: 10px 20px;
    background: #ddd;
    cursor: pointer;
}

/* Change appearance when a label is clicked (radio button selected) */
.your-form .pet-create-radio input[type="radio"]:checked + label {
    color: red;
}


option[value="a"]
{
    font-size:10vmin;
}
input[type=text] {
    font-size: 10vmin;
}

/*TODO PET UPDATE PAGE */

/* IMAGE UPLOAD */

body.pet-update {
    /* width: 390px; */
    width: 100%;
    font-family: sans-serif;
}
/* back, <petname>, done */
div.top-bar {
    width: 95%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

/* Pet Name */
h1.pet-update {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 10vmin;
    font-weight: 400;
}

button.update-btn {
    border: none;
    background: transparent;
    color: #fab005;
    font-weight: 500;
    font-size: 5vmin;
    cursor: pointer;
}

h3.pet-update {
    font-weight: 400;
    color: #a4a3a3;
    margin-left: 3vmin;
    margin-bottom: 1vmin;
}

/* Upload Photo Buttons */
#addphoto-btn, 
#choose-file-btn {
    color: #fab005;
    font-size: 4vmin;
    border: none;
    padding: 2vmin 2vmin;
    background-color: white;
    box-shadow: 0 0 1vmin #ccc;
    border-radius: 2.5vmin;
}


/* The row of three images */
.img-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 2.5vmin;
    margin-top: 3vmin;
}

/* Img placeholder boxes */
.placeholder {
    height: 28vmin;
    width: 28vmin;
    border: dashed 1px #ccc;
    margin-right: 4vmin;
}
/* how the images look once uploaded */
img#card-panel.responsive-img {
    height: 28vmin;
    width: 28vmin;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3vmin;
    margin-right: 4vmin;
}

.img-delete-wrapper {
    position: relative;
}

button.img-delete-btn {
    transform: rotate(45deg);
}

button.add-btn, 
button.img-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3vmin;
    border: 4vmin;
    box-shadow: 0 0 1vmin #ccc;
    background-color: white;
}

/* button.add-btn, 
button.img-delete-btn {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3vmin;
    border: 4vmin;
    box-shadow: 0 0 1vmin black;
    background-color: white;
}

.placeholder input[type=file] {
    display: none; 
}

.placeholder label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3vmin;
    border: 4vmin;
    box-shadow: 0 0 1vmin black;
    background-color: white;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    cursor: pointer;
} */


/* Pet prompts styling */

/* Answer boxes */
textarea#id_prompt_formset-0-answer,
textarea#id_prompt_formset-1-answer,
textarea#id_prompt_formset-2-answer
 {
    border: none;
    cursor: text;
    background-color: #f9f9f9;
    font-size: 8vmin;
    margin-bottom: 5vmin;
    width: 80vmin;
    height: 15vmin;
    border-radius: 2vmin;
}

/* Prompt selection */
select#id_prompt_formset-0-prompt,
select#id_prompt_formset-1-prompt,
select#id_prompt_formset-2-prompt
 {
    cursor: text;
    margin-bottom: 5vmin;
    width: 80vmin;
    height: 10vmin;
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2vmin;
    position: relative;
    margin-top: 3vmin;
}

  /*! TEMPORARY centering of prompts and a's*/
  div.prompt-formset {
    margin-right: 5vmin;
  }


/* label[for=id_10-prompt1],
label[for=id_10-prompt2],
label[for=id_10-prompt3] {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    width: 80vmin;
    font-size: 4vmin;
    color: #7c7c7c;
 } */



/* Centering all the prompts and answers*/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



/* border: none;
background: transparent;
color: #fab005;
font-weight: 500;
font-size: 5vmin;
position: relative;
top: -13vmin;
left: 40px; */